{% extends 'base.html' %}
{% block titulo %}Reset de senha{% endblock %}
{% block conteudo %}
    <div class="d-flex flex-column">
          <p class="m-auto p-2">
              Nós lhe enviamos, por e-mail, instruções para definir sua nova senha, se houver uma conta com o e-mail informado.
              Você deve recebê-lo em breve.
          </p>
          <p class="m-auto p-2">
              Se você não receber um e-mail, por favor verifique se inseriu o endereço com o qual se registrou,
              e verifique sua pasta de spam.
          </p>
          <p class="m-auto p-2"><a href="{% url 'prontuarios:home' %}">Voltar a página inicial</a></p>
    </div>
{% endblock %}