{% extends "base.html" %}
{% block titulo %}
    Cadastro de Paciente
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Cadastro de Paciente</h1>
    <br>
    <form method ="POST" id="formPaciente" novalidate>
        <div class="form-group row">
            <label for="nome" class="col-lg-2 col-form-label font-weight-bold">Nome*: </label>
            <div class="col-lg-10">
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="dataNascimento" class="col-lg-2 col-form-label font-weight-bold">Data de Nascimento: </label>
            <div class="col-lg-3">
                {{ form.dataNascimento }}
                {% if form.dataNascimento.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.dataNascimento.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="estadoCivil" class="col-lg-2 col-form-label font-weight-bold">Estado Civil*: </label>
            <div class="col-lg-2">
                {{ form.estadoCivil }}
                {% if form.estadoCivil.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.estadoCivil.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="genero" class="col-lg-1 col-form-label font-weight-bold">Gênero*: </label>
            <div class="col-lg-2">
                {{ form.genero }}
                {% if form.genero.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.estadoCivil.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="naturalidade" class="col-lg-2 col-form-label font-weight-bold">Naturalidade*: </label>
            <div class="col-lg-4">
                {{ form.naturalidade }}
                {% if form.naturalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.naturalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="nacionalidade" class="col-lg-2 col-form-label font-weight-bold">Nacionalidade*: </label>
            <div class="col-lg-4">
                {{ form.nacionalidade }}
                {% if form.nacionalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nacionalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label for="cpf" class="col-lg-2 col-form-label font-weight-bold">CPF*: </label>
            <div class="col-lg-4">
                {{ form.cpf }}
                {% if form.cpf.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.naturalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="cns" class="col-lg-1 col-form-label font-weight-bold">CNS: </label>
            <div class="col-lg-5">
                {{ form.cns }}
                {% if form.cns.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nacionalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label for="crm" class="col-lg-2 col-form-label font-weight-bold">CEP*: </label>
            <div class="col-lg-10">
                {{ form.cep }}
                {% if form.cep.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.cep.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="endereco" class="col-lg-2 col-form-label font-weight-bold">Endereço*: </label>
            <div class="col-lg-4">
                {{ form.endereco }}
                {% if form.endereco.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.endereco.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="numero" class="col-lg-1 col-form-label font-weight-bold">Número: </label>
            <div class="col-lg-1">
                {{ form.numero }}
                {% if form.numero.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.endereco.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="complemento" class="col-lg-2 col-form-label font-weight-bold">Complemento: </label>
            <div class="col-lg-2">
                {{ form.complemento }}
                {% if form.complemento.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.endereco.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="id_tel" class="col-lg-2 col-form-label font-weight-bold">Telefone*: </label>
            <div class="col-lg-10">
                {{ form.tel }}
{#                <input type="text" name="tel" data-mask-reverse="true" class="form-control form-control-sm" required="" id="id_tel">#}
                {% if form.tel.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.tel.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label for="escolaridade" class="col-lg-2 col-form-label font-weight-bold">Escolaridade*: </label>
            <div class="col-lg-10">
                {{ form.escolaridade }}
                {% if form.escolaridade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAtual.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="profissaoAtual" class="col-lg-2 col-form-label font-weight-bold">Profissão Atual: </label>
            <div class="col-lg-4">
                {{ form.profissaoAtual }}
                {% if form.profissaoAtual.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAtual.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <label for="profissaoAnterior" class="col-lg-2 col-form-label font-weight-bold">Profissão Anterior: </label>
            <div class="col-lg-4">
                {{ form.profissaoAnterior }}
                {% if form.profissaoAnterior.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAnterior.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="renda" class="col-lg-2 col-form-label font-weight-bold">Renda(R$): </label>
            <div class="col-lg-10">
                {{ form.renda }}
                {% if form.renda.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.renda.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <p class="col-lg-12 col-form-label" style="color: red;">Campos obrigatórios*</p>
        </div>

        <div class="form-group row mt-3 text-center" >
            <div class="col-lg-12">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                    {% if acao == 'inclusao' %}
                        Cadastrar Paciente
                    {% else %}
                        Alterar Paciente
                    {% endif %}
                </button>
            </div>
        </div>
{#        {% csrf_token %}#}
{#        <button type="submit">Cadastrar</button>#}
    </form>
{% endblock %}
{% block javascript %}
    <script>

        window.onload = function (){
            validatorBorn();
            // Selecionando previamente o ano 2000 do select
            var yearHTML = document.getElementById("id_dataNascimento_year");
            for (var opt, j = 0; opt = yearHTML.options[j]; j++) {
                if (opt.value == '2000') {
                  yearHTML.selectedIndex = j;
                  break;
                }
            }


        };


        function validatorBorn(){
            var date = new Date();

            var yearHTML = document.getElementById("id_dataNascimento_year");
            var yearValue = yearHTML.options[yearHTML.selectedIndex].value;
            var yearActual = date.getFullYear();

            var monthHTML = document.getElementById("id_dataNascimento_month");
            var monthValue = monthHTML.options[monthHTML.selectedIndex].value;
            var monthActual = date.getMonth();
            var optsMonth = monthHTML.options;
            var newOptionsMonth = optsMonth;

            var dayHTML = document.getElementById("id_dataNascimento_day");
            var dayActual = date.getDay();
            var optsDay = dayHTML.options;
            var newOptionsDay = optsDay;

            // Verifica se o ano selecionado é igual ao ano atual
            if(yearActual == yearValue){
                // Delimita o mês até o atual
                for (var opt, j = 11; opt = optsMonth[j]; j--) {
                    newOptionsMonth.remove(j);
                    if (opt.value == monthActual + 2) {
                        break;
                    }
                    monthHTML.options = newOptionsMonth;
                }
                // Verifica se o mês selecionado é igual ao mês atual
                if(monthActual + 1 == monthValue){
                    // Delimita o dia até o atual
                    for (var opt2, k = 30; opt2 = optsDay[k]; k--) {
                        newOptionsDay.remove(k);
                        if (opt2.value - 16 == dayActual) {
                            break;
                        }
                        dayHTML.options = newOptionsDay;
                    }
                }
                // Recompleta o select de dia caso haja a troca
                else{
                    var newOptionsHtml2 = '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>';
                    document.getElementById("id_dataNascimento_day").innerHTML = newOptionsHtml2;
                }
            }
            else{
                // Recompleta o select de mês caso haja a troca
                var newOptionsHtml = '<option value="1">Janeiro</option><option value="2">Fevereiro</option><option value="3">Março</option><option value="4">Abril</option><option value="5">Maio</option><option value="6">Junho</option><option value="7">Julho</option><option value="8">Agosto</option><option value="9">Setembro</option><option value="10">Outubro</option><option value="11">Novembro</option><option value="12">Dezembro</option>'
                document.getElementById("id_dataNascimento_month").innerHTML = newOptionsHtml;
            }
        }

        function phoneMask(e){
            let s = e.val();
            s=s.replace(/[_\W]+/g,'');
            let n = s.length;
            let m;
            if(n<11){
                m='(00) 0000-00000';
            }else{
                m='(00) 00000-0000';
            }
            $(e).mask(m);
         }
        // Type
        $('body').on('keyup','#id_tel',function(){
            phoneMask($(this));
         });
        // On load
        let phone = $('#id_tel');
        phone.keyup();
        $(document).on('submit', '#formPaciente', function (e) {
            phone.unmask()
         });

         $("#id_cep").keypress(
            // Impede a inserção de letras no input de cep
            function validate_cep(evt) {
              var theEvent = evt || window.event;
              var key = theEvent.keyCode || theEvent.which;
              key = String.fromCharCode( key );
              var regex = /[0-9]|\./;
              if( !regex.test(key) ) {
                theEvent.returnValue = false;
                if(theEvent.preventDefault) theEvent.preventDefault();
              }
            }
        );

        function limpa_formulário_cep() {
                //Limpa valores do formulário de cep.
                document.getElementById('id_endereco').value=("");
        }

        function meu_callback(dadosRetorno) {
            if (!("erro" in dadosRetorno)) {
                // Preenche os campos de acordo com o retorno da pesquisa
                document.getElementById('id_endereco').value = dadosRetorno.logradouro + ", " + dadosRetorno.bairro + ", " + dadosRetorno.localidade + " - " + dadosRetorno.uf;
            } //end if.
            else {
                //CEP não Encontrado.
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }

        $("#id_cep").blur(
            function pesquisa_cep() {
                let zipCode = document.getElementById("id_cep").value;
                //Nova variável "cep" somente com dígitos.
                var cep = zipCode.toString().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        document.getElementById('id_cep').value = cep.substring(0,5)+"-"+cep.substring(5);

                        //Preenche os campos com "..." enquanto consulta webservice.
                        document.getElementById('id_endereco').value="...";
                        //Cria um elemento javascript.
                        var script = document.createElement('script');

                        //Sincroniza com o callback.
                        script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                        //Insere script no documento e carrega o conteúdo.
                        document.body.appendChild(script);

                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            }
        );
    </script>
{% endblock %}