{% extends "base.html" %}
{% block titulo %}
    Cadastro de Paciente
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Cadastro de Paciente</h1>
    <br>
    <form method ="POST" id="formPaciente" novalidate>
        <div class="form-group row">
            <label for="nome" class="col-lg-2 col-form-label font-weight-bold">Nome*: </label>
            <div class="col-lg-10">
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="dataNascimento" class="col-lg-2 col-form-label font-weight-bold">Data de Nascimento: </label>
            <div class="col-lg-10">
                {{ form.dataNascimento }}
                {% if form.dataNascimento.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.dataNascimento.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="estadoCivil" class="col-lg-2 col-form-label font-weight-bold">Estado Civil*: </label>
            <div class="col-lg-10">
                {{ form.estadoCivil }}
                {% if form.estadoCivil.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.estadoCivil.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="naturalidade" class="col-lg-2 col-form-label font-weight-bold">Naturalidade*: </label>
            <div class="col-lg-10">
                {{ form.naturalidade }}
                {% if form.naturalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.naturalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="nacionalidade" class="col-lg-2 col-form-label font-weight-bold">Nacionalidade*: </label>
            <div class="col-lg-10">
                {{ form.nacionalidade }}
                {% if form.nacionalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nacionalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="crm" class="col-lg-2 col-form-label font-weight-bold">CEP*: </label>
            <div class="col-lg-10">
                {{ form.cep }}
                {% if form.cep.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.cep.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="endereco" class="col-lg-2 col-form-label font-weight-bold">Endereço*: </label>
            <div class="col-lg-10">
                {{ form.endereco }}
                {% if form.endereco.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.endereco.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="id_tel" class="col-lg-2 col-form-label font-weight-bold">Telefone*: </label>
            <div class="col-lg-10">
                {{ form.tel }}
{#                <input type="text" name="tel" data-mask-reverse="true" class="form-control form-control-sm" required="" id="id_tel">#}
                {% if form.tel.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.tel.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="profissaoAtual" class="col-lg-2 col-form-label font-weight-bold">Profissão Atual*: </label>
            <div class="col-lg-10">
                {{ form.profissaoAtual }}
                {% if form.profissaoAtual.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAtual.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="profissaoAnterior" class="col-lg-2 col-form-label font-weight-bold">Profissão Anterior: </label>
            <div class="col-lg-10">
                {{ form.profissaoAnterior }}
                {% if form.profissaoAnterior.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAnterior.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="renda" class="col-lg-2 col-form-label font-weight-bold">Renda: </label>
            <div class="col-lg-10">
                {{ form.renda }}
                {% if form.renda.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.renda.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <p class="col-lg-12 col-form-label" style="color: red;">Campos obrigatórios*</p>
        </div>

        <div class="form-group row mt-3 text-center" >
            <div class="col-lg-12">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                    {% if acao == 'inclusao' %}
                        Cadastrar Paciente
                    {% else %}
                        Alterar Paciente
                    {% endif %}
                </button>


            </div>
        </div>
{#        {% csrf_token %}#}
{#        <button type="submit">Cadastrar</button>#}
    </form>
{% endblock %}
{% block javascript %}
    <script>
        function phoneMask(e){
            let s = e.val();
            console.log(s)
            s=s.replace(/[_\W]+/g,'');
            let n = s.length;
            let m;
            if(n<11){
                m='(00) 0000-00000';
            }else{
                m='(00) 00000-0000';
            }
            $(e).mask(m);
         }
        // Type
        $('body').on('keyup','#id_tel',function(){
            phoneMask($(this));
         });
        // On load
        let phone = $('#id_tel');
        phone.keyup();
        $(document).on('submit', '#formPaciente', function (e) {
            phone.unmask()
         });
    </script>
    <script>
        // Registra o evento blur do campo "cep", ou seja, a pesquisa será feita
        // quando o usuário sair do campo "cep"
        $("#id_cep").blur(function(){
            // Remove tudo o que não é número para fazer a pesquisa
            var cep = this.value.replace(/[^0-9]/, "");

            // Validação do CEP; caso o CEP não possua 8 números, então cancela
            // a consulta
            if(cep.length != 8){
                return false;
            }

            // A url de pesquisa consiste no endereço do webservice + o cep que
            // o usuário informou + o tipo de retorno desejado (entre "json",
            // "jsonp", "xml", "piped" ou "querty")
            var url = "https://viacep.com.br/ws/"+cep+"/json/";

            // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
            // caso ocorra algum erro (o cep pode não existir, por exemplo) a
            // usabilidade não seja afetada, assim o usuário pode continuar//
            // preenchendo os campos normalmente
            $.getJSON(url, function(dadosRetorno){
                try{
                    // Preenche os campos de acordo com o retorno da pesquisa
                    var endereco = dadosRetorno.logradouro + ", " + dadosRetorno.bairro + ", " + dadosRetorno.localidade + " - " + dadosRetorno.uf;
                    $("#id_endereco").val(endereco);
                    $("#bairro").val(dadosRetorno.bairro);
                    $("#cidade").val(dadosRetorno.localidade);
                    $("#uf").val(dadosRetorno.uf);
                }catch(ex){}
            });
        });
	</script>
{% endblock %}