{% extends "base.html" %}
{% load utils %}
{% block titulo %}
    Perfil do Paciente
{% endblock %}
{% block conteudo %}
    <br>
    {% if messages %}
        <div class="row mb-3">
            <div class="col-lg-12">
                {% for message in messages %}
                    <ul class="list-group rounded {{ message.tags }}">
                        <li style="padding-top: 7px; padding-bottom: 7px;" class="list-group-item list-group-item-info">
                            {{ message }}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="jumbotron mt-2 p-3 p-md-5 rounded bg-gray">
        <h2>Perfil do Paciente</h2>
        <hr style=" border: 1px solid black">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ paciente.nome }}</h4>
            </div>
            <div class="col-md-6">
                <p class="m-0 p-0"><b>Informações:</b> {{ paciente.nacionalidade }},  {{ paciente.estadoCivil }}, {{ paciente.idade }} anos</p>
                <p class="m-0 p-0"><b>Endereço:</b> {{ paciente.endereco }}</p>
                <p class="m-0 p-0"><b>Telefone:</b> {{ paciente.tel | phone_number }}</p>
            </div>
            <div class="col-md-6">
                <p class="m-0 p-0"><b>Profissão Atual:</b> {{ paciente.profissaoAtual }}</p>
                {% if paciente.renda != None %}
                    <p class="m-0 p-0"><b>Renda:</b> {{ paciente.renda }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <form action="{% url 'gerenciamento:edita_paciente' paciente.id %}">
        <div class="form-group mt-3" >
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                     <button type="submit" class="btn btn-secondary">Editar</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
