{% extends "base.html" %}
{% block titulo %}
    Consulta | {{ pacienteResumo.nome }}
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Nova Consulta</h1>
    <br>
    <form method ="POST" novalidate>
        <div class="form-group row">
            <label for="id_tipo" class="col-lg-2 col-form-label font-weight-bold">Tipo de Consulta</label>
            <div class="col-lg-10">
{#                {{ form.tipo }}#}
            <select class="form-control form-control-sm" id="id_tipo" disabled>
                {% if inicial %}
                    <option value="inicial">Consulta Inicial</option>
                {% else %}
                    <option value="evolucao">Consulta de Evolução</option>
                {% endif %}
            </select>
{#                {% if form.tipo.errors %}#}
{#                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">#}
{#                        {% for error in form.tipo.errors %}#}
{#                            <small>{{ error }}</small>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>

        <div class="form-group mt-3" >
            <div class="row">
                <div class="col-lg-6 text-center">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary">Voltar</button></a>
                </div>
                <div class="col-lg-6 text-center">
                    {% csrf_token %}
                     <button type="submit" class="btn btn-secondary">Avançar</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}