{% extends "base.html" %}
{% load utils %}
{% block titulo %}
    Prontuário | {{ pacienteResumo.nome }}
{% endblock %}
{% block conteudo %}
    <br>
    {% if vazio %}
        <h4 class="text-center mt-5">Nenhum prontuário foi registrado!</h4>
    {% else %}
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-sistemas-tab" data-toggle="pill" href="#pills-sistemas" role="tab"
                   aria-controls="pills-sistemas" aria-selected="true">Revisão de Sistemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-observacoes-tab" data-toggle="pill" href="#pills-observacoes" role="tab"
                   aria-controls="pills-observacoes" aria-selected="false">Anamnese</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-historico-tab" data-toggle="pill" href="#pills-historico" role="tab"
                   aria-controls="pills-historico" aria-selected="false">Histórico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-diagnosticos-tab" data-toggle="pill" href="#pills-diagnosticos" role="tab"
                   aria-controls="pills-diagnosticos" aria-selected="false">Diagnósticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-prescricoes-tab" data-toggle="pill" href="#pills-prescricoes" role="tab"
                   aria-controls="pills-prescricoes" aria-selected="false">Prescrições</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-teste-neuro-tab" data-toggle="pill" href="#pills-teste-neuro" role="tab"
                   aria-controls="pills-teste-neuro" aria-selected="false">Teste Neuropsicológicos</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-sistemas" role="tabpanel" aria-labelledby="pills-sistemas-tab">
                <form id="formSis">
                    <div class="form-group row">
                        {% for field in formSis %}
                            {% if field.name != 'prontuario' and field.name != 'sintomas'  %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-2">
                                    {% if field.value == '1' %}
                                        <div class="options">
                                            <span class="option-span option-span-negative" id="option-span-negative-{{field.name}}">Não</span>
                                            <span class="option-span option-span-positive active" id="option-span-positive-{{field.name}}">Sim</span>
                                        </div>
                                        {{ field | add_disabled_and_class:"range-positive"}}
                                    {% elif field.value == '0' %}
                                        <div class="options">
                                            <span class="option-span option-span-negative active" id="option-span-negative-{{field.name}}">Não</span>
                                            <span class="option-span option-span-positive" id="option-span-positive-{{field.name}}">Sim</span>
                                        </div>
                                        {{ field | add_disabled_and_class:"range-negative"}}
                                    {% else %}
                                        <div class="options">
                                            <span class="option-span option-span-negative" id="option-span-negative-{{field.name}}">Não</span>
                                            <span class="option-span option-span-positive" id="option-span-positive-{{field.name}}">Sim</span>
                                        </div>
                                        {{ field | add_attr:"disabled"}}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="pills-observacoes" role="tabpanel" aria-labelledby="pills-observacoes-tab">
                <form id="formObs">
                    {% for field in formObs %}
                        <div class="form-group row">
                            {% if field.name != 'prontuario' %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {{ field | add_attr:"disabled"}}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>

           <div class="tab-pane fade" id="pills-historico" role="tabpanel" aria-labelledby="pills-historico-tab">
                <form id="formHist">
                    {% for field in formHist %}
                        <div class="form-group row">
                            {% if field.name != 'paciente' %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {{ field | add_attr:"disabled"}}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>

            <div class="tab-pane fade" id="pills-diagnosticos" role="tabpanel" aria-labelledby="pills-diagnosticos-tab">
                <form id="formHip">
                    {% for field in formHip %}
                        <div class="form-group row">
                            {% if field.name != 'prontuario' %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {{ field | add_attr:"disabled" }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>

            <div class="tab-pane fade" id="pills-teste-neuro" role="tabpanel" aria-labelledby="pills-teste-neuro-tab">
                <form id="formTesteNeuro">
                    {% for field in formTesteNeuro %}
                        <div class="form-group row">
                            {% if field.name != 'prontuario' %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {{ field | add_attr:"disabled" }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>

            <div class="tab-pane fade" id="pills-prescricoes" role="tabpanel" aria-labelledby="pills-prescricoes-tab">
                <form id="formPresc">
                    {% for field in formPresc %}
                        <div class="form-group row">
                            {% if field.name != 'prontuario' %}
                                <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                                <div class="col-lg-10">
                                    {{ field | add_attr:"disabled"}}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    {% endif %}

    <div class="row mt-5 mb-5" >
        <div class="col-lg-12 text-center">
             <a href="{% url 'prontuarios:home' %}"><button class="btn btn-secondary">Voltar</button></a>
        </div>
    </div>

    <style>
        .nav{
            background-color: #343a40!important;
            border-radius: .25rem;
            justify-content: center;
        }
        .nav>li>a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .nav-pills .nav-item{
            margin-left: 35px;
            margin-right: 35px;

        }
        .nav-pills .nav-link.active{
            color: #fff;
            background-color: #6c757d;
        }
        .nav-item a{
            color: rgba(255,255,255,.5);
        }


        input[type=range] {
          width: 100%;
          margin: 8.45px 0;
          background-color: transparent;
          -webkit-appearance: none;
        }
        input[type=range]:focus {
          outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
          background: #909090;
          border: 0.2px solid rgba(118, 118, 118, 0.4);
          border-radius: 25px;
          width: 100%;
          height: 8.1px;
          cursor: pointer;
        }
        input[type=range]::-webkit-slider-thumb {
          margin-top: -8.65px;
          width: 25px;
          height: 25px;
          background: #A9A9A9;
          border: 1px solid #A0A0A0;
          border-radius: 50px;
          cursor: pointer;
          -webkit-appearance: none;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
          background: #808080;
        }
        input[type=range]::-moz-range-track {
          background: #909090;
          border: 0.2px solid rgba(118, 118, 118, 0.4);
          border-radius: 25px;
          width: 100%;
          height: 8.1px;
          cursor: pointer;
        }
        input[type=range]::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #A9A9A9;
          border: 1px solid #A0A0A0;
          border-radius: 50px;
          cursor: pointer;
        }
        input[type=range]::-ms-track {
          background: transparent;
          border-color: transparent;
          border-width: 13.85px 0;
          color: transparent;
          width: 100%;
          height: 8.1px;
          cursor: pointer;
        }
        input[type=range]::-ms-fill-lower {
          background: #909090;
          border: 0.2px solid rgba(118, 118, 118, 0.4);
          border-radius: 50px;
        }
        input[type=range]::-ms-fill-upper {
          background: #909090;
          border: 0.2px solid rgba(118, 118, 118, 0.4);
          border-radius: 50px;
        }
        input[type=range]::-ms-thumb {
          width: 25px;
          height: 25px;
          background: #808080;
          border: 1px solid #a5a5a5;
          border-radius: 50px;
          cursor: pointer;
          margin-top: 0px;
          /*Needed to keep the Edge thumb centred*/
        }
        input[type=range]:focus::-ms-fill-lower {
          background: #808080;
        }
        input[type=range]:focus::-ms-fill-upper {
          background: #808080;
        }

        input[type=range].range-positive::-webkit-slider-thumb {
          margin-top: -8.65px;
          width: 25px;
          height: 25px;
          background: #bfe3b4;
          border: 1px solid #9ac6a2;
          border-radius: 50px;
          cursor: pointer;
          -webkit-appearance: none;
        }
        input[type=range].range-positive::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #bfe3b4;
          border: 1px solid #9ac6a2;
          border-radius: 50px;
          cursor: pointer;
        }
        input[type=range].range-positive::-ms-thumb {
          width: 25px;
          height: 25px;
          background: #bfe3b4;
          border: 1px solid #9ac6a2;
          border-radius: 50px;
          cursor: pointer;
          margin-top: 0px;
          /*Needed to keep the Edge thumb centred*/
        }

        input[type=range].range-negative::-webkit-slider-thumb {
          margin-top: -8.65px;
          width: 25px;
          height: 25px;
          background: #f1959b;
          border: 1px solid #f07470;
          border-radius: 50px;
          cursor: pointer;
          -webkit-appearance: none;
        }
        input[type=range].range-negative::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #f1959b;
          border: 1px solid #f07470;
          border-radius: 50px;
          cursor: pointer;
        }

        input[type=range].range-negative::-ms-thumb {
          width: 25px;
          height: 25px;
          background: #f1959b;
          border: 1px solid #f07470;
          border-radius: 50px;
          cursor: pointer;
          margin-top: 0px;
          /*Needed to keep the Edge thumb centred*/
        }

        .option-span{
            color: darkgray;
            font-size: 0.7em;
            font-weight: 400;
        }
        .option-span-negative{
            float: left;
        }
        .option-span-positive{
            float: right;
        }
        .active{
            color: black;
        }
    </style>
    <script>
        window.onload = function() {
            var inputs, index;
            inputs = document.forms["formTesteNeuro"].getElementsByTagName("input");
            for (index = 0; index < inputs.length; ++index){
                inputs[index].classList.add("form-control");
            }
        };
    </script>

{% endblock %}