{% extends "base.html" %}
{% block titulo %}
    Hipóteses
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Hipóteses Diagnósticas</h1>
    <br>
    <form method ="POST" novalidate>
        <div class="form-group row">
            <label for="hipotese" class="col-lg-2 col-form-label font-weight-bold">Hipóteses Diagnósticas</label>
            <div class="col-lg-10">
                {{ form.hipotese }}
                {% if form.hipotese.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.hipotese.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <a href="{% url 'prontuarioGeriatria:observacoes' prontuario.id pacienteResumo.id %}">
                        <button type="button" class="btn btn-primary">Voltar</button>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Avançar</button>
                </div>
            </div>
        </div>
    </form>
{#    <form action="{% url 'prontuarioGeriatria:observacoes' prontuario.id pacienteResumo.id %}" method="GET">#}
{#        <div class="form-group row mt-3 text-center">#}
{#            <div class="col-lg-11 offset-lg-1">#}
{#                <button type="submit" class="btn btn-primary">Voltar</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{% endblock %}