{% extends "base.html" %}
{% block titulo %}
    Prescrições
{% endblock %}
{% block conteudo %}
    <br>
    <form method ="POST" novalidate>
        <div class="form-group row">
            <label for="exameSolicitado" class="col-lg-2 col-form-label font-weight-bold">Exames Solicitados</label>
            <div class="col-lg-10">
                {{ form.exameSolicitado }}
                {% if form.exameSolicitado.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.exameSolicitado.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="condutaTerapeutica" class="col-lg-2 col-form-label font-weight-bold">Conduta Terapêutica</label>
            <div class="col-lg-10">
                {{ form.condutaTerapeutica }}
                {% if form.condutaTerapeutica.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.condutaTerapeutica.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="medicamentos" class="col-lg-2 col-form-label font-weight-bold">Medicamentos</label>
            <div class="col-lg-10">
                {{ form.medicamentos }}
                {% if form.medicamentos.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.medicamentos.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="dieta" class="col-lg-2 col-form-label font-weight-bold">Dieta</label>
            <div class="col-lg-10">
                {{ form.dieta }}
                {% if form.dieta.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.dieta.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="orientacao" class="col-lg-2 col-form-label font-weight-bold">Orientação Geral</label>
            <div class="col-lg-10">
                {{ form.orientacao }}
                {% if form.orientacao.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.orientacao.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="encaminhamentos" class="col-lg-2 col-form-label font-weight-bold">Encaminhamentos Prioritários</label>
            <div class="col-lg-10">
                {{ form.encaminhamentos }}
                {% if form.encaminhamentos.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.encaminhamentos.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row mt-3 text-center">
            <div class="col-lg-11 offset-lg-1">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Avançar</button>
            </div>
        </div>
    </form>
{% endblock %}