{% extends "base.html" %}
{% load utils %}
{% block titulo %}
    Prontuário | {{ pacienteResumo.nome }}
{% endblock %}

{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Prontuário</h1>
    <br>
    {% if prontuario.finalizado %}
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <span>Esse prontuário foi finalizado, portanto não é mais possível alterá-lo</span>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="save alert alert-success" style="display: none">
        <span class="save-success"></span>
    </div>
    <div class="save-e alert alert-danger" style="display: none">
        <span class="save-danger"></span>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-sistemas-tab" data-toggle="pill" href="#pills-sistemas" role="tab"
               aria-controls="pills-sistemas" aria-selected="true">Revisão de Sistemas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-observacoes-tab" data-toggle="pill" href="#pills-observacoes" role="tab"
               aria-controls="pills-observacoes" aria-selected="false">Anamnese</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-historico-tab" data-toggle="pill" href="#pills-historico" role="tab"
               aria-controls="pills-historico" aria-selected="false">Histórico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-diagnosticos-tab" data-toggle="pill" href="#pills-diagnosticos" role="tab"
               aria-controls="pills-diagnosticos" aria-selected="false">Diagnósticos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-prescricoes-tab" data-toggle="pill" href="#pills-prescricoes" role="tab"
               aria-controls="pills-prescricoes" aria-selected="false">Prescrições</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-testes-tab" data-toggle="pill" href="#pills-testes" role="tab"
               aria-controls="pills-testes" aria-selected="false">Teste Neuropsicológico</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-sistemas" role="tabpanel" aria-labelledby="pills-sistemas-tab">
            <form data-cria-sis-url="{% url 'prontuarioGeriatria:cria-sistema' prontuario.id %}" method="POST" novalidate id="formSis">
                <div class="form-group row">
                    {% for field in formSis %}
                        {% if field.name != 'prontuario' and field.name != 'sintomas' %}
                            <div class="three-check col-lg-4">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label for="id_{{ field.name }}" class="col-form-label font-weight-bold">{{ field.label }}</label>
                                    </div>
                                    <div class="col-lg-2">
                                        {% if prontuario.finalizado %}
                                            {{ field | add_attr:"disabled"}}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                        <label class="chk">
                                            <input type="checkbox" class="form-control form-control-sm form-check-input indeterminate-check" name="id_{{field.name}}" onclick="changeBoxValues(this)">
                                            <span></span>
                                        </label>
                                        <div class="formSis-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                            <span class="formSis-{{ field.name }}-error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                            <button id="button-form-sis" type="button" class="btn btn-secondary" onclick="continueFormSis()">Continuar</button>
                            <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="pills-observacoes" role="tabpanel" aria-labelledby="pills-observacoes-tab">
            <form data-cria-obs-url="{% url 'prontuarioGeriatria:cria-observacoes' prontuario.id %}" method="POST" novalidate id="formObs" onsubmit="submitObservacoes()">
                {% for field in formObs %}
                    <div class="form-group row">
                        {% if field.name != 'prontuario' %}
                            <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                            <div class="col-lg-8">
                                {% if prontuario.finalizado %}
                                    {{ field | add_attr:"disabled"}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <div class="formObs-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                    <span class="formObs-{{ field.name }}-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="showAnterior({{ field.name }})">Mostrar Anterior
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div id="div-{{ field.name }}-anterior" style="display: none">
                        {% if obsAnterior %}
                            {% for instance in obsAnterior %}
                                {% for key, value in instance.fields.items %}
                                    {% if key == field.name %}
                                        <div class="form-group row">
                                            <label for="{{ field.name }}-anterior" class="col-lg-2 col-form-label font-weight-bold"></label>
                                            <div class="col-lg-8">
                                                <textarea disabled id="{{ field.name }}-anterior" cols="40" rows="3" class="form-control form-control-sm" placeholder="{{ value }}"></textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-4">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="copiaAnterior({{ field.name }})">Copiar
                                </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                                        <small>Nada foi registrado!</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                                <button id="button-form-obs" type="button" class="btn btn-secondary" onclick="continueFormObs()">Continuar</button>
                                <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="pills-historico" role="tabpanel" aria-labelledby="pills-historico-tab">
            <form data-cria-hist-url="{% url 'gerenciamento:cria-historico' pacienteResumo.id %}" method="POST" novalidate id="formHist" onsubmit="submitHistorico()">
                {% for field in formHist %}
                    <div class="form-group row">
                        {% if field.name != 'paciente' %}
                            <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                            <div class="col-lg-10">
                                {% if prontuario.finalizado %}
                                    {{ field | add_attr:"disabled"}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <div class="formHist-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                    <span class="formHist-{{ field.name }}-error"></span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                            <button id="button-form-hist" type="button" class="btn btn-secondary" onclick="continueFormHist()">Continuar</button>
                            <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="pills-diagnosticos" role="tabpanel" aria-labelledby="pills-diagnosticos-tab">
            <form data-cria-hip-url="{% url 'prontuarioGeriatria:cria-hipoteses' prontuario.id %}" method="POST" novalidate id="formHip" onsubmit="submitDiagnosticos()">
                {% for field in formHip %}
                    <div class="form-group row">
                        {% if field.name != 'prontuario' %}
                            <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                            <div class="col-lg-8">
                                {% if prontuario.finalizado %}
                                    {{ field | add_attr:"disabled"}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <div class="formHip-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                    <small class="formHip-{{ field.name }}-error"></small>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="showAnterior({{ field.name }})">Mostrar Anterior
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div id="div-{{ field.name }}-anterior" style="display: none">
                        {% if hipAnterior %}
                            {% for instance in hipAnterior %}
                                {% for key, value in instance.fields.items %}
                                    {% if key == field.name %}
                                        <div class="form-group row">
                                            <label for="{{ field.name }}-anterior" class="col-lg-2 col-form-label font-weight-bold"></label>
                                            <div class="col-lg-8">
                                                <textarea disabled id="{{ field.name }}-anterior" cols="40" rows="3" class="form-control form-control-sm" placeholder="{{ value }}"></textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-4">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="copiaAnterior({{ field.name }})">Copiar
                                </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                                        <small>Nada foi registrado!</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                                <button id="button-form-hip" type="button" class="btn btn-secondary" onclick="continueFormHip()">Continuar</button>
                                <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="pills-prescricoes" role="tabpanel" aria-labelledby="pills-prescricoes-tab">
            <form data-cria-presc-url="{% url 'prontuarioGeriatria:cria-prescricoes' prontuario.id %}" method="POST" novalidate id="formPresc" onsubmit="submitPrescricoes()">
                {% for field in formPresc %}
                    <div class="form-group row">
                        {% if field.name != 'prontuario' %}
                            <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                            <div class="col-lg-8">
                                {% if prontuario.finalizado %}
                                    {{ field | add_attr:"disabled"}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <div class="formPresc-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                    <small class="formPresc-{{ field.name }}-error"></small>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="showAnterior({{ field.name }})">Mostrar Anterior
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div id="div-{{ field.name }}-anterior" style="display: none">
                        {% if prescAnterior %}
                            {% for instance in prescAnterior %}
                                {% for key, value in instance.fields.items %}
                                    {% if key == field.name %}
                                        <div class="form-group row">
                                            <label for="{{ field.name }}-anterior" class="col-lg-2 col-form-label font-weight-bold"></label>
                                            <div class="col-lg-8">
                                                <textarea disabled id="{{ field.name }}-anterior" cols="40" rows="3" class="form-control form-control-sm" placeholder="{{ value }}"></textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-4">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="copiaAnterior({{ field.name }})">Copiar
                                </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                                        <small>Nada foi registrado!</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                             <button id="button-form-presc" type="button" class="btn btn-secondary" onclick="continueFormPresc()">Continuar</button>
                             <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="pills-testes" role="tabpanel" aria-labelledby="pills-testes-tab">
            <form data-cria-testes-url="{% url 'prontuarioGeriatria:cria-testes' prontuario.id %}" method="POST" novalidate id="formTesteNeuro" onsubmit="submitTestes()">
                {% for field in formTesteNeuro %}
                    <div class="form-group row">
                        {% if field.name != 'prontuario' %}
                            <label for="{{ field.name }}" class="col-lg-2 col-form-label font-weight-bold">{{ field.label }}</label>
                            <div class="col-lg-8">
                                {% if prontuario.finalizado %}
                                    {{ field | add_attr:"disabled"}}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <div class="formTesteNeuro-{{ field.name }}-alert alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px; display: none">
                                    <small class="formTesteNeuro-{{ field.name }}-error"></small>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="showAnterior({{ field.name }})">Mostrar Anterior
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div id="div-{{ field.name }}-anterior" style="display: none">
                        {% if testeNeuroAnterior %}
                            {% for instance in testeNeuroAnterior %}
                                {% for key, value in instance.fields.items %}
                                    {% if key == field.name %}
                                        <div class="form-group row">
                                            <label for="{{ field.name }}-anterior" class="col-lg-2 col-form-label font-weight-bold"></label>
                                            <div class="col-lg-8">
                                                <textarea disabled id="{{ field.name }}-anterior" cols="40" rows="3" class="form-control form-control-sm" placeholder="{{ value }}"></textarea>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-4">
                                <button class="btn btn-secondary btn-anterior my-3" type="button" id="{{ field.name }}-button"
                                        onclick="copiaAnterior({{ field.name }})">Copiar
                                </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                                        <small>Nada foi registrado!</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group mt-3" >
                    <div class="row justify-content-end">
                        <div class="col-lg-6 text-right">
                            {% csrf_token %}
                             <button id="button-form-testes" type="button" class="btn btn-secondary" onclick="continueFormTesteNeuro()">Continuar</button>
                             <button type="button" class="btn btn-outline-secondary ml-2 mr-5" data-toggle="modal" data-target="#salvaModal">Salvar</button>
                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#finalizaModal">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="finalizaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finalizaModalTitulo">Aviso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Certifique-se de que suas alterações foram salvas!
                    <br>
                    Após finalizar o prontuário não será mais possível editá-lo.
                    Desejar finalizar?
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Não</button>
                    <a href="{% url 'prontuarioGeriatria:finaliza-prontuario' prontuario.id %}">
                        <button type="button" class="btn btn-primary ml-auto">Sim</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="salvaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="salvaModalTitulo">Aviso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Após finalizar o prontuário não será mais possível editá-lo.
                    Desejar salvar seu prontuário e finalizar?
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary ml-auto" data-dismiss="modal" onclick="saveFormModal()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avisoModalTitulo">Aviso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
{#                    <p>As informações sobre o Histórico do paciente devem ser manipuladas com cuidado.</p>#}
{#                    <p>Tem certeza que deseja alterá-las?</p>#}
                    As informações sobre o Histórico do paciente devem ser manipuladas com cuidado.
                    <br>
                    Tem certeza que deseja alterá-las?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm()">Não</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .nav{
            background-color: #343a40!important;
            border-radius: .25rem;
            justify-content: center;
        }
        .nav>li>a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .nav-pills .nav-item{
            margin-left: 35px;
            margin-right: 35px;

        }
        .nav-pills .nav-link.active{
            color: #fff;
            background-color: #6c757d;
        }
        .nav-item a{
            color: rgba(255,255,255,.5);
        }
        .btn-anterior{
            width: 144px;
        }
        .chk input {
            display: none;
        }
        .chk span {
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #DDD;
        }
        .chk input:indeterminate + span {
            background-color: rgba(220, 53, 69, 1);
            background-image: url("../../../static/prontuarioGeriatria/images/uncorrect.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .chk input:checked + span {
            background-color:rgba(25, 135, 84, 1);
            background-image: url("../../../static/prontuarioGeriatria/images/correct.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .option-span{
            color: darkgray;
            font-size: 0.7em;
            font-weight: 400;
        }
        .option-span-negative{
            float: left;
        }
        .option-span-positive{
            float: right;
        }
        
        .active{
            color: black;
            display: block !important;
        }
        .hidden{
            display: none;
        }


    </style>
{% endblock %}

{% block javascript %}
    <script>

        const indeterminateCheck = document.getElementsByClassName('indeterminate-check');
        for (index = 0; index < indeterminateCheck.length; ++index){
            indeterminateCheck[index].addEventListener('click', (e) => {
                if (e.target.readOnly)
                e.target.checked = e.target.readOnly = false;
                else if (!e.target.checked)
                e.target.readOnly = e.target.indeterminate = true;
            })
        }

        function saveFormModal(){
            var linkActive = document.getElementsByClassName('active');
            var idButton = linkActive[0].id;
            switch (idButton){
                case 'pills-sistemas-tab':
                    submitSistemas(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
                case 'pills-observacoes-tab':
                    submitObservacoes(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
                case 'pills-historico-tab':
                    submitHistorico(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
                case 'pills-diagnosticos-tab':
                    submitDiagnosticos(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
                case 'pills-prescricoes-tab':
                    submitPrescricoes(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
                case 'pills-testes-tab':
                    submitTestes(function(result) {
                        if(result == 1)
                            window.history.go(-1);
                        else{
                            $('.save').fadeOut()
                            $('.save-e').fadeIn()
                            $('.save-danger').text('Ocorreu uma falha ao continuar!')
                        }
                    });
                    break;
            }

        }

        // Altera o atributo do input escondido
        function setCheckBoxes(cb, value) {
            if (value == 'Nao informado'){
                cb.indeterminate = false;
                cb.checked = false;
            }
            else if (value == 'Possui'){
                cb.indeterminate = false;
                cb.checked = true;
            }
            else{
                cb.checked = false;
                cb.indeterminate = true;
            }
        }

        // Altera o valor do input escondido
        function changeBoxValues(cb) {
            var hidden = document.getElementById(cb.name);
            if (hidden.value == 'Nao informado')
                hidden.value = 'Possui';
            else if (hidden.value == 'Possui')
                hidden.value = 'Nao possui';
            else{
                hidden.value = 'Nao informado';
            }
            setCheckBoxes(cb, hidden.value);
        }

        var step = 0;

        window.onload = function() {
            // Divide o formulário dos sintomas em tres etapas
            var rangeOption = $('#formSis').find('.three-check');
            for (var i = 21; i < 69; i++){
                 rangeOption[i].style.display = "none";
            }
            // Adiciona a classe 'form-control' ao formulario de testes
            var inputs, index;
            inputs = document.forms["formTesteNeuro"].getElementsByTagName("input");
            for (index = 0; index < inputs.length; ++index){
                inputs[index].classList.add("form-control");
            }
        };
        function limpaLabelsForms(){
            // Limpa as classes ativas do links superiores
            list = document.getElementsByClassName("nav-link");
            for (index = 0; index < list.length; ++index) {
                list[index].setAttribute('aria-selected', 'false');
                list[index].setAttribute('class', 'nav-link');
            }

            // Esconde os formulários
            $('.tab-pane').fadeOut();
            list2 = document.getElementsByClassName("tab-pane");
            for (index = 0; index < list2.length; ++index) {
                list2[index].setAttribute('class', 'tabe-pane fade');
            }
        }

        // function mudarBotao(buttonP, pillsP){
        //     var button = document.getElementById(buttonP);
        //     button.removeAttribute('onclick');
        //     button.setAttribute('data-toggle', 'pill');
        //     button.setAttribute('role', 'tab');
        //     button.setAttribute('href', '#pills-'+ pillsP);
        // }

        function continueForm(pillsP){
            limpaLabelsForms();
            // Mostra o próximo formulário
            $('#'+ pillsP ).fadeIn();
            var cont = "pills-"+ pillsP + "-tab";
            document.getElementById("pills-" + pillsP).setAttribute('class', 'tab-pane fade show active');

            // Marca o formulário ativo nos links superiores
            document.getElementById(cont).setAttribute('class', 'nav-link active');
            document.getElementById(cont).setAttribute('aria-selected', 'true');
        }

        function continueFormSis(save){
            var rangeOption = $('#formSis').find('.three-check');
            step = step + 1;
            switch(step){
                case 1:
                    for (var i = 21; i < 42; i++){
                        rangeOption[i].style.display = "block";
                    }
                    break;
                case 2:
                    for (var i = 42; i < 69; i++){
                        rangeOption[i].style.display = "block";
                    }
                    break;
                    case 3:
                        submitSistemas(function(result) {
                            if(result == 1){
                                if (!save)
                                    continueForm('observacoes');
                                else
                                    window.history.go(-1);
                            }
                            else{
                                $('.save').fadeOut()
                                $('.save-e').fadeIn()
                                $('.save-danger').text('Ocorreu uma falha ao continuar!')
                            }
                        });
                    break;
            }
        }

        function continueFormObs(){
            submitObservacoes(function(result) {
                if(result == 1)
                    continueForm('historico');
                else{
                    $('.save').fadeOut()
                    $('.save-e').fadeIn()
                    $('.save-danger').text('Ocorreu uma falha ao continuar!')
                }
            });
        }

        function continueFormHist(){
            submitHistorico(function(result) {
                if(result == 1)
                    continueForm('diagnosticos');
                else{
                    $('.save').fadeOut()
                    $('.save-e').fadeIn()
                    $('.save-danger').text('Ocorreu uma falha ao continuar!')
                }
            });                
        }

        function continueFormHip(){
            submitDiagnosticos(function(result) {
                if(result == 1)
                    continueForm('prescricoes');
                else{
                    $('.save').fadeOut()
                    $('.save-e').fadeIn()
                    $('.save-danger').text('Ocorreu uma falha ao continuar!')
                }
            });
        }

        function continueFormPresc(){
            submitPrescricoes(function(result) {
                if(result == 1)
                    continueForm('testes');
                else{
                    $('.save').fadeOut()
                    $('.save-e').fadeIn()
                    $('.save-danger').text('Ocorreu uma falha ao continuar!')
                }
            });
        }

        function continueFormTesteNeuro(){
            submitTestes(function(result) {
                if(result == 1)
                    window.history.go(-1);
                else{
                    $('.save').fadeOut()
                    $('.save-e').fadeIn()
                    $('.save-danger').text('Ocorreu uma falha ao continuar!')
                }
            });
        }

        {#    Submit de Sistemas    #}
        function submitSistemas(callback){
            var form = $('#formSis');
            var url = form.attr('data-cria-sis-url');
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formSis-'+ field + '-alert').fadeIn()
                            $('.formSis-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formSis-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Revisão de Sistemas salvo com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html')
                    page.animate({scrollTop:$('html').offset().top}, 'slow')
                }
            })
        }

        {#    Submit de Observações    #}
        function submitObservacoes(callback){
            var form = $('#formObs');
            var url = form.attr('data-cria-obs-url');
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formObs-'+ field + '-alert').fadeIn()
                            $('.formObs-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formObs-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Anamnese salva com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html');
                    page.animate({scrollTop:$('html').offset().top}, 'slow');
                }
            });
        }

        {#    Submit de Diagnósticos    #}
        function submitDiagnosticos(callback){
            var form = $('#formHip')
            var url = form.attr('data-cria-hip-url')
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formHip-'+ field + '-alert').fadeIn()
                            $('.formHip-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formHip-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Diagnóstico salvo com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html')
                    page.animate({scrollTop:$('html').offset().top}, 'slow');
                    return res

                }
            });
        }

        {#    Submit de Prescrições    #}
        function submitPrescricoes(callback){
            var form = $('#formPresc');
            var url = form.attr('data-cria-presc-url');
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formPresc-'+ field + '-alert').fadeIn()
                            $('.formPresc-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formPresc-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Prescrição salva com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html')
                    page.animate({scrollTop:$('html').offset().top}, 'slow');
                    return res
                }
            });
        }

        {#    Submit de Histórico    #}
        function submitHistorico(callback){
            var form = $('#formHist');
            var url = form.attr('data-cria-hist-url');
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formHist-'+ field + '-alert').fadeIn()
                            $('.formHist-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formHist-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Histórico salvo com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html')
                    page.animate({scrollTop:$('html').offset().top}, 'slow');
                    return res
                }
             });
        }

        {#    Submit de Teste Neuropsicológico   #}
        function submitTestes(callback){
            var form = $('#formTesteNeuro');
            var url = form.attr('data-cria-testes-url');
            var res = 0;
            $.ajax({
                type: 'POST',
                url: url,
                data: form.serialize(),
                success: function(data){
                    if (!data.success){
                        $.each(data.error, function (field) {
                            let err = data.error[field]
                            $('.formTesteNeuro-'+ field + '-alert').fadeIn()
                            $('.formTesteNeuro-'+ field + '-error').text(err)
                        })
                        res = 0;
                        callback(res);
                    }
                    else{
                        $.each(data.response, function (field) {
                            $('.formTesteNeuro-'+ field + '-alert').fadeOut()
                            $('.save-e').fadeOut()
                            $('.save').fadeIn()
                            $('.save-success').text('Teste Neuropsicológico salvo com sucesso!')
                        })
                        res = 1;
                        callback(res);
                    }
                },
                error: function(){
                    res = 0;
                    callback(res);
                },
                complete:function(){
                    let page = $('body, html')
                    page.animate({scrollTop:$('html').offset().top}, 'slow')
                    return res
                }
             });
        }

        $('ul.nav.nav-pills li a').click(function() {
            $('.save').fadeOut()
        });

        {#   Função para exibir conteúdo da consulta anterior    #}
        function showAnterior(field) {
            var x = document.getElementById("div-"+field.name+"-anterior");

            var elem = document.getElementById(field.name+"-button");
            if (elem.innerText === "Mostrar Anterior") {
                elem.innerText = "Ocultar";
            } else {
                elem.innerText = "Mostrar Anterior";
            }

            if (x.style.display === "none") {
                x.style.display = "block";
             } else {
                x.style.display = "none";
             }
        }

        let aviso = false;
        $(document).on('change', '#formHist', function (e) {
            if(!aviso){
                $('#avisoModal').modal('show')
            }
            aviso = true;
        });
        
        function resetForm() {
            document.getElementById("formHist").reset();
            aviso = false;
        }

        function copiaAnterior(field) {
            let valor = $("#"+field.name+"-anterior").attr('placeholder');
            $("#id_"+field.name).val(valor);
        }

    </script>
{% endblock %}