{% extends "base.html" %}
{% block titulo %}
    Cadastro de Médico
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Cadastro de Médico</h1>
    <br>
    <form method ="POST" novalidate>
        <div class="form-group row">
            <label for="nome" class="col-lg-2 col-form-label font-weight-bold">Nome: </label>
            <div class="col-lg-10">
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="cpf" class="col-lg-2 col-form-label font-weight-bold">CPF: </label>
            <div class="col-lg-4">
                {{ form.cpf }}
                {% if form.cpf.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.cpf.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <label for="crm" class="col-lg-1 col-form-label font-weight-bold">CRM: </label>
            <div class="col-lg-5">
                {{ form.crm }}
                {% if form.crm.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.crm.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-lg-2 col-form-label font-weight-bold">E-mail: </label>
            <div class="col-lg-10">
                {{ form.email }}
                {% if form.cpf.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

{#        <div class="form-group row">#}
{#            <label for="password1" class="col-lg-2 col-form-label font-weight-bold">Senha: </label>#}
{#            <div class="col-lg-10">#}
{#                {{ form.password1 }}#}
{#                {% if form.password1.errors %}#}
{#                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">#}
{#                        {% for error in form.password1.errors %}#}
{#                            <small>{{ error }}</small>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#            <label for="password2" class="col-lg-2 col-form-label font-weight-bold">Confirme a senha: </label>#}
{#            <div class="col-lg-10">#}
{#                {{ form.password2 }}#}
{#                {% if form.password2.errors %}#}
{#                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">#}
{#                        {% for error in form.password2.errors %}#}
{#                            <small>{{ error }}</small>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}

        <div class="form-group row mt-3 text-center" >
            <div class="col-lg-11 offset-lg-1">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Cadastrar</button>
            </div>
        </div>
{#        {% csrf_token %}#}
{#        <button type="submit">Cadastrar</button>#}
    </form>
{% endblock %}