{% extends "base.html" %}
{% block titulo %}
    Cadastro de Paciente
{% endblock %}
{% block conteudo %}
    <br>
    <h1 class="text-center mt-2">Cadastro de Paciente</h1>
    <br>
    <form method ="POST" id="formPaciente" novalidate>
        <div class="form-group row">
            <label for="nome" class="col-lg-2 col-form-label font-weight-bold">Nome: </label>
            <div class="col-lg-10">
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="dataNascimento" class="col-lg-2 col-form-label font-weight-bold">Data de Nascimento: </label>
            <div class="col-lg-10">
                {{ form.dataNascimento }}
                {% if form.dataNascimento.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.dataNascimento.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="estadoCivil" class="col-lg-2 col-form-label font-weight-bold">Estado Civil: </label>
            <div class="col-lg-10">
                {{ form.estadoCivil }}
                {% if form.estadoCivil.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.estadoCivil.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="naturalidade" class="col-lg-2 col-form-label font-weight-bold">Naturalidade: </label>
            <div class="col-lg-10">
                {{ form.naturalidade }}
                {% if form.naturalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.naturalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="nacionalidade" class="col-lg-2 col-form-label font-weight-bold">Nacionalidade: </label>
            <div class="col-lg-10">
                {{ form.nacionalidade }}
                {% if form.nacionalidade.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nacionalidade.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="crm" class="col-lg-2 col-form-label font-weight-bold">CEP: </label>
            <div class="col-lg-10">
                {{ form.cep }}
                {% if form.cep.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.cep.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="endereco" class="col-lg-2 col-form-label font-weight-bold">Endereço: </label>
            <div class="col-lg-10">
                {{ form.endereco }}
                {% if form.endereco.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.endereco.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="id_tel" class="col-lg-2 col-form-label font-weight-bold">Telefone: </label>
            <div class="col-lg-10">
                {{ form.tel }}
{#                <input type="text" name="tel" data-mask-reverse="true" class="form-control form-control-sm" required="" id="id_tel">#}
                {% if form.tel.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.tel.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="profissaoAtual" class="col-lg-2 col-form-label font-weight-bold">Profissão Atual: </label>
            <div class="col-lg-10">
                {{ form.profissaoAtual }}
                {% if form.profissaoAtual.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAtual.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="profissaoAnterior" class="col-lg-2 col-form-label font-weight-bold">Profissão Anterior: </label>
            <div class="col-lg-10">
                {{ form.profissaoAnterior }}
                {% if form.profissaoAnterior.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.profissaoAnterior.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="renda" class="col-lg-2 col-form-label font-weight-bold">Renda: </label>
            <div class="col-lg-10">
                {{ form.renda }}
                {% if form.renda.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.renda.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row mt-3 text-center" >
            <div class="col-lg-11 offset-lg-1">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">
                    {% if acao == 'inclusao' %}
                        Cadastrar Paciente
                    {% else %}
                        Alterar Paciente
                    {% endif %}
                </button>


            </div>
        </div>
{#        {% csrf_token %}#}
{#        <button type="submit">Cadastrar</button>#}
    </form>
{% endblock %}
{% block javascript %}
    <script>
        function phoneMask(e){
            let s = e.val();
            console.log(s)
            s=s.replace(/[_\W]+/g,'');
            let n = s.length;
            let m;
            if(n<11){
                m='(00) 0000-00000';
            }else{
                m='(00) 00000-0000';
            }
            $(e).mask(m);
         }
        // Type
        $('body').on('keyup','#id_tel',function(){
            phoneMask($(this));
         });
        // On load
        let phone = $('#id_tel')
        phone.keyup();
        $(document).on('submit', '#formPaciente', function (e) {
            phone.unmask()
         });
    </script>
{% endblock %}